html {
	box-sizing: border-box;
	text-align: center;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

.darkMode {
	background-color: #282c34;
	color: #cfcfcf;
	background-size: cover;
}

.darkMode h1 {
	color: #ececec;
}

.lightMode {
	/* background-color: white; */
	color: #555555;
	background-size: cover;
}

.lightMode h1 {
	color: #3e3e3e;
}

button {
	border: none;
	background-color: #f49d37;
	padding: 5px 15px;
	width: 100px;
	margin: 5px;
	border-radius: 10px;
}

button:hover {
	background-color: #d17c1d;
}

a {
	text-decoration: none;
	font-size: 18px;
}
