.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	flex-flow: wrap;
	/* border: 1px solid black; */
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70vw;
	margin: auto;
}

@media (max-width: 720px) {
	.container {
		flex-direction: column;
		justify-content: center;
	}
}

.loading img {
	width: 10%;
	margin: auto;
}

.pagination {
	display: flex;
}

.pagination p {
	margin: 0 10px;
}
