.container {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
	flex-flow: wrap;
}

.invisible {
	z-index: -1;
	margin-bottom: 20px;
	height: 60px;
	width: 100vw;
}

@media (max-width: 480px) {
	.invisible {
		margin-bottom: 65px;
	}
}
